<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <style>
      body {
         background-color: green;
         font-family: Arial, sans-serif;
         margin: 0;
         padding: 0;
      }
      p {
         color: gold;
         font-size: 48px;
         text-align: center;
         margin-top: 200px;
      }
   </style>
   <body>
      <p>Hello world!</p>
   </body>
</html>
